.topDate {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 30px auto auto auto;
  border: 1px solid grey;
  font-size: large;
  font-family: "Montserrat";
  border-radius: 5px;
}

.btn {
  width: 40px;
  height: 40px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.changeDate {
  width: fit-content;
  margin: auto auto;
}
